/* .header-b{
    background-color: #000000;
} */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .people-img{
    margin: 72px 0px;
}
.people-title{
    margin-left: 24px;
}
.titlebox{
    width: 636px;
}
.title{
    font-size: 64px;
    color: #FFFFFF;

}
.title-name{
    font-size: 128px;
    text-align: right;
    color: #00FFA3;

}
.title-name > span{
    font-size: 64px;
    color: #FFFFFF;
    display: block;
    text-align: left;
}
